/* Las variables son definidas por autores  CSS */

:root {
    --primario: #71b100;
    --secundario: #e08709;
}
body {
    font-family: 'Lato', sans-serif;
}
body {
    font-family: 'Lato', sans-serif;
}
.bg-success{ 
    background-color: var(--primario)!important ;
}
@media (min-width: 768px) {
    .barra.bg-success{
        background-color: transparent!important;
    }
}
.header .barra {
    position: absolute;
    z-index: 100;
    width: 100%;
}